[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "circuits/utils/circom-pairing"]
	path = circuits/utils/circom-pairing
	url = https://github.com/LimeChain/circom-pairing
[submodule "contracts/lib/extractoor-contracts"]
	path = contracts/lib/extractoor-contracts
	url = https://github.com/LimeChain/extractoor-contracts
