/contracts/out/
/contracts/cache/
/scripts/node_modules
/scripts/**/logs
/scripts/build/
/circuits/node_modules
/circuits/**/build
/circuits/**/proof_data_**/
/circuits/powers_of_tau/
MyLogFile.log
/contracts/.env
